@media (max-width: 560px) {
  .container-fluid {
    flex-direction: row-reverse;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    font-size: 30px !important;
  }
}

body {
  background-color: #171717;
  color: white;
  font-family: "Maax Regular";
  margin: 0;
  overflow-x: hidden;
}

.nav-link {
  color: white;
  font-size: 13px;
  font-stretch: ultra-expanded;
  font-weight: 100;
}

.nav-link:hover {
  color: white;
}

.navbar-toggler-icon {
  background-image: url(/img/Nav_Collapsed_Icon-01.png);
  width: 50px;
}

h1 {
  font-weight: bolder;
  font-size: 100px;
  -webkit-text-stroke: 4px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

nav {
  position: relative;
}

/*Scrolling Animation CSS Start */

.scrolling-animation-container {
  overflow: hidden;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrolling-animation-container::before {
  left: 0;
}

.scrolling-animation-container:after {
  position: absolute;
  right: 0;
}

.scrolling-animation-container:after,
.scrolling-animation-container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  line-height: 40px;
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.content-animation-list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  padding-left: 0px;
  padding-bottom: 10px;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.content-animation-list-item {
  line-height: 50px;
  margin: 0;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, 0, 0);
  }
}

/*Scrolling Animation CSS End */
